.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0ecf8; /* Custom background color */
  padding: 10px;
}

.system-name {
  font-size: 36px;
  font-weight: bold;
  color: #007bff; /* Custom brand color */
  margin-bottom: 30px; /* Adjusted margin for a tiny gap */
}

.ant-menu-horizontal {
  border-bottom: none;
}