{% extends "base.html" %}

{% block content %}
  <h2>Edit Product</h2>
  <form method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Basic Information (Uneditable)</legend>
      <p>Serial Number: {{ product.SN }}</p>
      <p>Category: {{ product.category.name }}</p>
    </fieldset>

    <fieldset>
      <legend>Editable Information</legend>
      {{ form.priority_level|as_crispy_field }}
      {{ form.description|as_crispy_field }}
      {{ form.location|as_crispy_field }}
    </fieldset>

    <fieldset>
      <legend>Status and Tasks</legend>
      {{ form.current_status|as_crispy_field }}
      {{ form.new_status_name|as_crispy_field }}
      {{ form.possible_next_statuses|as_crispy_field }}
    </fieldset>

    <button type="submit">Update</button>
  </form>
{% endblock %}