{% extends "base.html" %}

{% block title %}View Tasks{% endblock %}

{% block extra_head %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Display messages and handle redirection
        const messageContainer = document.querySelector('.messages');
        if (messageContainer && messageContainer.children.length > 0) {
            const toast = document.createElement('div');
            toast.className = 'toast';
            toast.classList.add(messageContainer.children[0].classList.contains('alert-success') ? 'toast-success' : 'toast-error');
            toast.innerHTML = messageContainer.children[0].innerHTML;
            document.body.appendChild(toast);
            toast.style.display = 'block';
            setTimeout(() => {
                toast.style.display = 'none';
                window.location.href = "{% url 'manage_tasks' %}";
            }, 3000);
        }
    });
</script>
{% endblock %}

{% block content %}
<h1>View Tasks</h1>



<div>
    <label><input type="radio" name="task_action" value="manage" onclick="window.location.href='{% url 'manage_tasks' %}'" title="Go back to add/delete task"> Go back to add/delete task</label>
</div>

<div id="display-task-section">
    <h3>Existing Tasks</h3>
    <ul>
        {% for value, label in existing_tasks %}
            <li>{{ label }}</li>
        {% endfor %}
    </ul>
</div>

<button onclick="window.location.href='{% url 'manage_tasks' %}'" title="Go back to Manage Tasks">Go back to Manage Tasks</button>
{% endblock %}